<br>
<h1>Marton Web</h1>
<div id='parraf'>
  
    <br>
<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
     <p>Login or register</p>
      <h4 class="text-left">SignUp</h4>
      <form class="form-inline"  action="/users" method="post">
      <div class="form-group">
      <label for="user_name">Name:</label>
        <input id="name_id" class="form-control" type="text" name="user_name" placeholder="name" > 
      <label for="user_email">Email:</label>
        <input id="email_id" class="form-control" type="text" name="user_email" placeholder="email" >
        <label for="user_password">Password:</label>
        <input id="password_id" class="form-control" type="password" name="user_password" placeholder="password" >
        <input id="boton" class="form-control" type="submit" value="SignUp">
</form>
</div>
<br>
      <h4 class="text-left">LogIn</h4>
  <form class="form-inline" action="/login" method="post" >
        <div class="form-group">
      <label for="email">Email:</label>
        <input id="email_id_user" class="form-control" type="text" name="email" placeholder="email">
        <label for="password">Password:</label>
        <input id="password_id_user" class="form-control" type="password" name="password" placeholder="password">
        <input class="form-control" type="submit" value="LogIn">
      </div>
    </div>
  </div>
</form>
</div>







